node_modules
dist
coverage
.env
server/.env
client/.env
.vercel/
.vercel
.vercel-output/
server/uploads/
client-dev.log
client-dev.err
server-dev.log
server-dev.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
